<section id="hero" class="max-w-5xl mx-auto px-4 py-20 font-[Poppins]">

  <div class="text-center mb-16">
    <h1 class="text-4xl font-medium mb-4">Articles about<span class="text-blue-500"> coding </span>to learn more.</h1>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-12">

    <div class="rounded-3xl overflow-hidden relative h-80 group cursor-pointer">

      <div class="absolute inset-0">
        <img 
          src="article1.jpg" 
          alt="Creative Design" 
          class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-110"
        >
        <div class="absolute inset-0 bg-gradient-to-br from-gray-900/90 to-gray-600/90"></div>
      </div>
      <div class="relative h-full p-8 text-white flex flex-col">
        <h3 class="text-2xl font-bold">Game Development</h3>
        <p class="opacity-90 mt-auto">Great games blend creativity and purpose, built to deliver amazing experiences.<br><span class="underline cursor-pointer">click here</span></p>
      </div>
    </div>


    <div class="rounded-3xl overflow-hidden relative h-80 group cursor-pointer">
      <div class="absolute inset-0">
        <img 
          src="article2.jpg" 
          alt="Fast Results" 
          class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-110"
        >
        <div class="absolute inset-0 bg-gradient-to-br from-gray-900/90 to-gray-600/90"></div>
      </div>

      <div class="relative h-full p-8 text-white flex flex-col">
        <h3 class="text-2xl font-bold">Parallax</h3>
        <p class="opacity-90 mt-auto">Parallax design combines depth making websites more engaging and dynamic. <br><span class="underline cursor-pointer">click here</span></p>
      </div>
    </div>


    <div class="rounded-3xl overflow-hidden relative h-80 group cursor-pointer">
      <div class="absolute inset-0">
        <img 
          src="article3.jpg" 
          alt="Tailored Solutions" 
          class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-110">
        <div class="absolute inset-0 bg-gradient-to-br from-gray-900/90 to-gray-600/90"></div>
      </div>
      <div class="relative h-full p-8 text-white flex flex-col">
        <h3 class="text-2xl font-bold">Responsive</h3>
        <p class="opacity-90 mt-auto">Responsive websites adapt to any screen, ensuring a smooth and user-friendly experience.<br><span class="underline cursor-pointer">click here</span></p>
      </div>
    </div>
  </div>
</section>
